<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <style>
        .a img{
            max-width:450px;_width:expression(this.width > 450 ? "450px" : this.width);
            max-height:150px;_height:expression(this.height > 150 ? "150px" : this.height) ;
        }
        .a{
            text-align: center;
        }
    </style>
</head>
<body>
<center style="color: red;font-size: 17px;margin-top: 25px">图片菜单</center>
<div class="a" style="margin-top: 8%;"><img id="weixinImgMenu" src=""></div>
<center style="color: red;font-size: 17px;margin-top: 10%">文本菜单</center>
<textarea id="getTxt" style="height: 100px;width: 280px;resize: none;margin-top: 8%;margin-left: 4%" readonly="readonly"></textarea>
<center style="color: red;font-size: 17px;margin-top: 10%;">点&nbsp;&nbsp;餐</center>
<div style="margin-top: 8%;margin-left: 12%"><select id="fixOpin"></select></div>
<div style="margin-left: 42%;margin-top: -19px"><input type="text" id="writeMenu"><br></div>
<input style="background-color: cornflowerblue;background-size: 100% 100%;border: 0;
color: #ffffff;width: 200px;height: 30px;font-size: 18px;margin-top: 14%;margin-left: 14%"
       type="button" value="&nbsp;&nbsp;确&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;认" onclick="zz()">
<script type="text/javascript" src="../../public/javascripts/public/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/getImgMenu.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/getTxtMenu.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/getAllPer.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/WriteMenu.js"></script>
</body>
</html>