<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title></title>
</head>
<body>
<center style="color: red;font-size: 13px;margin-top: 25px">选择下拉单中的用户实现删除/发送微信信息功能</center>
<center style="color: red;font-size: 13px;margin-top: 13px">点击添加用户，跳转注册界面</center>
<div style="margin-left: 11%;margin-top: 19%">
    <select id="fixOpin"></select>
    <input style="margin-left: 17px" type="button" value="删除用户" onclick="delBook()">
    <input style="margin-left: 8px" type="button" value="添加用户" onclick="addBook()">
</div>
<div style="margin-left: 13%;margin-top: 25%">
    <input type="text" id="sendText">
    <input style="margin-left: 20px" type="button" value="发送信息" onclick="sendPerInfo()">
</div>
<script type="text/javascript" src="../../public/javascripts/public/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/getAllPer.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/changeBook.js"></script>
</body>
</html>