<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>
<center style="color: red;font-size: 8px;margin-top: 25px">选择下拉单中的用户，选择本地图片，可以上传图片菜单</center>
<center style="color: red;font-size: 8px;margin-top: 13px">在文字输入框中可以输入文字菜单</center>
<center style="color: red;font-size: 8px;margin-top: 13px">选择的下拉单中的用户即为<b>点餐人</b></center>
<div style="margin-top: 10%;margin-left: 36%"><select id="fixOpin"></select></div>
<div style="margin-left: 24%;margin-top: 10%"><input id="getFile" type="file"><br></div>
<div style="margin-left: 21%;margin-top: 10%">
    <textarea autofocus id="txt" style="height: 60px;width: 150px;resize: none;"></textarea>
</div>
<i><center style="color: cornflowerblue;font-size: 10px;margin-top: 10px">注:输入框中空格与换行都代表已写内容</center></i>
<input style="background-color: cornflowerblue;background-size: 100% 100%;border: 0;color: #ffffff;width: 200px;height: 30px;font-size: 18px;margin-top: 13%;margin-left: 14%" type="button" value="确&nbsp;&nbsp;&nbsp;&nbsp;认" onclick="doImage()">
<script type="text/javascript" src="../../public/javascripts/public/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/weixinMenu.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/getAllPer.js"></script>
</body>
</html>