<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        /*.a img{*/
            /*max-width:600px;_width:expression(this.width > 600 ? "600px" : this.width);*/
            /*max-height:300px;_height:expression(this.height > 300 ? "300px" : this.height) ;*/
        /*}*/
        .a{
            text-align: center;
        }
        /*.a img{*/
            /*width: 300px;*/

        /*}*/

    </style>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />-->
</head>
<body>
<div class="a"><img id="weixinImgMenu" src=""></div>
<center style="color: red;font-size: 25px;margin-top: 20px">双击图片放大</center>
<script type="text/javascript" src="../../public/javascripts/public/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/getImgMenu.js"></script>
</body>
</html>