<!DOCTYPE html>
<html>
<head lang="en">
    <link href="../../public/stylesheets/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>

<table style="margin-left: 7%;margin-top: 8%" id="fillTable"></table>
<script type="text/javascript" src="../../public/javascripts/public/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/showMenu.js"></script>
</body>
</html>
