<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
<textarea id="getTxt" style="height: 400px;width: 280px;resize: none;margin-top: 8%;margin-left: 4%" readonly="readonly"></textarea>
<script type="text/javascript" src="../../public/javascripts/public/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="../../public/javascripts/js/getTxtMenu.js"></script>
</body>
</html>

  <img src="http://tangtangjingjing.qiniudn.com/weixin.jpg">
